<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/clientes.css">
        <title>PhoneJa - Clientes</title>
    </head>
    <body>
        <header>
            <img src="assets/icones/logo.svg" alt="logomarca">
            <a href="/dashboard">
                <span></span>
                Dashboard</a>
        </header>

        <main>
            <h4>Cliente encontrado(a):</h4>

            <div class="cards">

                <div class="card">
                    <h1>
                        Amora Fernandes</h1>
                    <h3>Telefone</h3>
                    <p>
                        11989898989
                    </p>
                    <h3>CPF</h3>
                    <p>12345678998</p>
                    <h3>Endereço</h3>
                    <p>Avenida do Atlantico</p>
                    <h3>Número/Complemento</h3>
                    <p>123</p>
                    <h3>Estado</h3>
                    <p>São Paulo</p>
                    <h3>Cidade</h3>
                    <p>Campinas</p>
                    <h2>
                        <strong>Dados da Compra:</strong>
                    </h2>
                    <h3>Valor da Compra</h3>
                    <p>2000</p>
                    <h3>Modelo do Celular</h3>
                    <p>Samsung A10</p>
                    <h3>Ano do Celular</h3>
                    <p>2020</p>
                    <h3>Cor do Celular</h3>
                    <p>Azul</p>
                    <h2>
                        <strong>Dados da Vendedor(a) e Loja</strong>
                    </h2>
                    <h3>Vendedor(a)</h3>
                    <p>Juliana Pereira</p>
                    <h3>Loja</h3>
                    <p>Campinas - Centro</p>
                </div>

                <div class="card">
                    <h1>
                        Joao Fernandes</h1>
                    <h3>Telefone</h3>
                    <p>
                        11989898989
                    </p>
                    <h3>CPF</h3>
                    <p>12345678998</p>
                    <h3>Endereço</h3>
                    <p>Avenida do Atlantico</p>
                    <h3>Número/Complemento</h3>
                    <p>123</p>
                    <h3>Estado</h3>
                    <p>São Paulo</p>
                    <h3>Cidade</h3>
                    <p>Campinas</p>
                    <h3>
                        <strong>Dados da Compra:</strong>
                    </h3>
                    <h3>Valor da Compra</h3>
                    <p>2000</p>
                    <h3>Modelo do Celular</h3>
                    <p>Samsung A10</p>
                    <h3>Ano do Celular</h3>
                    <p>2020</p>
                    <h3>Cor do Celular</h3>
                    <p>Azul</p>
                    <h2>
                        <strong>Dados da Vendedor(a) e Loja</strong>
                    </h2>
                    <h3>Vendedor(a)</h3>
                    <p>Juliana Pereira</p>
                    <h3>Loja</h3>
                    <p>Campinas - Centro</p>
                </div>
            </div>
        </main>

    </body>
</html>