<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/clientes.css">
        <title>PhoneJa - Clientes</title>
    </head>
    <body>
        <header>
            <img src="assets/icones/logo.svg" alt="logomarca">
            <a href="/dashboard">
                <span></span>
                Dashboard</a>
        </header>

        <main>
            {% if total > 0 %}
                <h4>{{total}}
                    Cliente(s) encontrado(a):</h4>

                <div class="cards">

                    {% for place in places %}
                        <div class="card">
                            <h1>
                                {{place.nome}}</h1>
                            <h3>Telefone</h3>
                            <p>
                                {{place.tel}}
                            </p>
                            <h3>CPF</h3>
                            <p>{{place.cpf}}</p>
                            <h3>Endereço</h3>
                            <p>{{place.end}}</p>
                            <h3>Número/Complemento</h3>
                            <p>{{place.num}}</p>
                            <h3>Estado</h3>
                            <p>{{place.estado}}</p>
                            <h3>Cidade</h3>
                            <p>{{place.cidade}}</p>
                            <h3>
                                <strong>Dados da Compra:</strong>
                            </h3>
                            <h3>Itens comprados</h3>
                            <p>{{place.itens}}</p>
                            <h3>Valor da Compra</h3>
                            <p>{{place.valor}}</p>
                            <h3>Modelo do Celular</h3>
                            <p>{{place.modelo}}</p>
                            <h3>Ano do Celular</h3>
                            <p>{{place.ano}}</p>
                            <h3>Cor do Celular</h3>
                            <p>{{place.cor}}</p>
                            <h2>
                                <strong>Dados da Vendedor(a) e Loja</strong>
                            </h2>
                            <h3>Vendedor(a)</h3>
                            <p>{{place.vendedor}}</p>
                            <h3>Loja</h3>
                            <p>{{place.loja}}</p>
                        </div>

                    {% endfor %}

                </div>
                {%else%}
                <h4>
                    <strong>Cliente não encontrado</strong>
                </h4>

            {% endif %}

        </main>

    </body>
</html>